.container {
  padding: 0.5rem 0.5rem;
}

.post {
  min-height: 20rem;
  margin: 0 auto;
  max-width: 800px;
}

.meta {
  color: #959da5;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.spacer {
  width: 20px;
  height: 1px;
  background: #959da5;
  margin: 0.4rem;
}

.comments {
  margin: 30px auto 0;
  max-width: 800px;
}
